.Counter{
    display: flex;
    align-items: center;
}
.Sub,.Add
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCBF49;
    border:none;
    width: 40rem;
    height: 40rem;
    border-radius: 50%;
    font-size: 24px;
    line-height: 40rem;
    padding:0;
}
.Sub{
    background-color: white;
    border: 1px solid black;
}
.Count{
    font-size: 16px;
    margin: 0 5px;
}